# Java/Spring Boot
target/
*.jar
*.war
.mvn/wrapper/maven-wrapper.jar

# Node.js/React (Nếu có folder frontend nằm chung)
node_modules/
dist/
build/
*.log
uploads/

# IDEs and OS
.idea/
.vscode/
*.iml
.DS_Store

# Environment variables (Bảo mật)
.env
.run/
